---
import Layout from '../layouts/Layout.astro';
import "../components/style.css"
import Headers from '../components/Headers.astro'
import Video from '../components/Video.astro'
import Articulos from '../components/Articulos.astro'
import Videofuneral from '../components/Videofuneral.astro'
import Videofunerall from '../components/videofunerall.astro'
import Receta from '../components/Receta.astro'
import Receta2 from '../components/Receta2.astro'
import Gallery from '../components/Gallery.astro'
import Footer from '../components/Footer.astro'



---

<Layout title="Walter Gallo - Memorial">
	<main>
		<Headers />
		<Video />
		<Articulos />
		<Videofuneral />
		<Videofunerall />
		<Receta />
		<Receta2 />
		<Gallery />
		<Footer />
	</main>
</Layout>

<style>
	
</style>
