---
---
<section class="w-screen h-auto flex justify-center items-center py-10 px-5">

  <div class="grid md:grid-cols-2 lg:grid-cols-3 sm:grid-cols-1 gap-10">
  <div class="max-w-sm rounded overflow-hidden shadow-lg flex flex-col justify-between items-start">
    <img class="w-full" src="/public/saint.png" alt="art1">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2 text-orange-600">Remembering Walter Gallo ’58</div>
      <p class="text-gray-700 text-base">I am very sorry to announce the passing of Col. Walter J. Gallo ’58 H.D.’08 after a long and courageous battle with cancer. Shortly after a visit from his loving wife, Julie, and three of his four children on Wednesday, Feb. 27, Walter died peacefully at the New Hampshire...</p>
    </div>
    <div class="px-6 pt-4 pb-2">
      <button class="text-white border-orange-500 bg-orange-500 py-2 px-3 rounded-lg"><a href="https://www.anselm.edu/about/anselmian-hub/news/message-dr-favazza-remembering-walter-gallo-58">Read more</a></button>
    </div>
  </div>

  <div class="max-w-sm rounded overflow-hidden shadow-lg flex flex-col justify-center items-start">
    <img class="w-full" src="/public/legacy.png" alt="art2">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2 text-orange-600">Colonel Walter J. Gallo</div>
      <p class="text-gray-700 text-base">He was born an identical twin in the Point of Pines section of Revere, MA on July 14, 1936, the beloved son of the late John J. and Mary F. Gallo. Raised and educated on the North Shore of MA, Walter was a graduate of St. Mary's High School in Lynn, MA class of 1954 where he was a standout student...</p>
    </div>
    <div class="px-6 pt-4 pb-2">
      <button class="text-white border-orange-500 bg-orange-500 py-2 px-3 rounded-lg"><a href="https://www.legacy.com/us/obituaries/unionleader/name/walter-gallo-obituary?id=54575112">Read more</a></button>
    </div>
  </div>

  <div class="max-w-sm rounded overflow-hidden shadow-lg flex flex-col justify-center items-start">
    <img class="w-full" src="/public/articulo3.png" alt="art3">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2 text-orange-600">Col. Walter Gallo ’58, Honorary Degree ’08...</div>
      <p class="text-gray-700 text-base">While current students may associate the name Gallo with their favorite coffee spot on campus, the legacy of Colonel Walter Gallo extends 46 years of service to Saint Anselm College...</p>
    </div>
    <div class="px-6 pt-4 pb-2">
      <button class="text-white border-orange-500 bg-orange-500 py-2 px-3 rounded-lg"><a href="https://criernewsroom.com/news/2024/03/05/col-walter-gallo-58-honorary-degree-08-remembered-as-one-of-the-most-influential-lay-people-in-saint-anselm-history/">Read more</a></button>
    </div>
  </div>
  </div>
</section>