---
---
<div class="h-auto py-1 w-full bg-orange-100 flex justify-center items-center">
    <p class="text-orange-800 text-md">Created with lots of love by <a href="https://cristianmancuso.netlify.app" target="_blank" class="font-bold">Cristian Mancuso</a></p>
</div>