---
---
<style>

    .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
    }
  
    .gallery-item {
      overflow: hidden;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
  
    .gallery-item img {
      display: block;
      width: 100%;
      height: 100%;
      transition: transform 0.3s ease;
      object-fit: cover;
    }
  
    .gallery-item:hover img {
      transform: scale(1.1);
    }
  </style>


  
  <div class="gallery py-10 px-10">
    <div class="gallery-item">
      <img src="/public/1.jpg" alt="Photo 1">
    </div>
    <div class="gallery-item">
      <img src="/public/2.jpeg" alt="Photo 2">
    </div>
    <div class="gallery-item">
        <img src="/public/3.jpeg" alt="Photo 3">
      </div>
      <div class="gallery-item">
        <img src="/public/4.jpeg" alt="Photo 4">
      </div>
      <div class="gallery-item">
        <img src="/public/4a.jpeg" alt="Photo 5">
      </div>
      <div class="gallery-item">
        <img src="/public/5.jpeg" alt="Photo 6">
      </div>
      <div class="gallery-item">
          <img src="/public/6.jpeg" alt="Photo 7">
        </div>
        <div class="gallery-item">
          <img src="/public/7.jpeg" alt="Photo 8">
        </div>
    
        <div class="gallery-item">
            <img src="/public/10.jpeg" alt="Photo 9">
          </div>
    
          <div class="gallery-item">
            <img src="/public/11.jpeg" alt="Photo 10">
          </div>
    
          <div class="gallery-item">
            <img src="/public/12.jpeg" alt="Photo 11">
          </div>
    
          <div class="gallery-item">
            <img src="/public/13.jpeg" alt="Photo 12">
          </div>
    
          <div class="gallery-item">
            <img src="/public/14.jpeg" alt="Photo 13">
          </div>
    
          <div class="gallery-item">
            <img src="/public/15.jpeg" alt="Photo 14">
          </div>

          <div class="gallery-item">
            <img src="/public/16.jpeg" alt="Photo 8">
          </div>
      
      
    
  </div>
  