---
---
<section class="bg-black text-white flex-col flex gap-2 justify-center items-center h-screen w-screen relative">
    <div class="absolute inset-0 z-0">
        <video src="/public/usa.mp4" class="absolute inset-0 w-full h-full object-cover z-0 filter brightness-50 scale-x-[-1] " autoplay muted loop></video>
        <div class="absolute inset-0 bg-black opacity-50"></div> 
    </div>
    <div class="relative z-10 inset-0">
        <h1 class="sm:text-4xl text-3xl font-bold text-center">WALTER GALLO</h1>
        <p class="sm:text-3xl text-2xl font-bold text-center">- Memorial -</p>
        <p class="sm:text-2xl text-xl text-center">1936 - 2024</p>
    </div>
    <div class="absolute bottom-32">
      
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 mx-auto mt-2 animate-bounce" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
        </svg>
    </div>
</section>