---
---
<section class="w-screen h-auto flex flex-col justify-start items-start fondo bg-cover  gap-8 sm:py-52 py-0">
    <div class="sm:pl-11 pl-0">
    <h3 class="text-orange-600 text-2xl  sm:text-left text-center py-5">Instructions:</h3>
    <ul class="text-lg text-orange-800 sm:text-left text-center sm:space-y-1 space-y-3  sm:px-0 px-10">
    <li>1. Heat stock in large pot</li>
    <li>2. Heat butter and oil in a large sauté pan </li>
    <li>3. Finely chop the onion and add to oil/butter </li>
    <li>4. Cook onions until translucent then add rice to oil/butter/onions</li>
    <li>5. Stir rice to thoroughly mix/coat with onions/oil/butter</li>
    <li>6. Add white wine and continue to stir for another minute</li>
    <li>7. Add boiling stock 1 cup at a time to keep rice covered. Continue stirring. Rice will begin to soak up stock. Repeat until all the stock has been absorbed. Continue Stirring. </li>
    <li>8. Stir in shredded parmesan and ground saffron. Optional: Additional splash of white wine for stronger flavor</li>
    <li>9. Place the pan with rice in the fridge to set until rice is firm and cool </li>
    <li>10. Heat vegetable oil in a deep fryer or pot to 375 degrees F </li>
    <li>11. Scoop a small handful of rice in your hand and place 1-2 mozzarella pearl(s) in the middle</li>
    <li>12. Roll the rice ball around the mozzarella pearl(s)</li>
    <li>13. Roll the rice ball in Italian breadcrumbs and set aside on a serving tray </li>
    <li>14. Once oil reaches 375 degrees F and all rice balls have been rolled once you are ready for the frying process</li>
    <li>15. Reroll 4-6 rice balls in italian breadcrumbs and carefully add to hot oil  </li>
    <li>16. Make sure rice balls are fully submerged and rolled periodically to prevent sticking </li>
    <li>17. Deep fry until golden-dark brown and crispy to ensure proper mozzarella melt  </li>
    <li>18. Remove from oil and onto a paper towel lined tray  </li>
    <li>19. Serve with hot marinara sauce</li>
    </ul>
</div>
</section>
<style>
    .fondo{
        background-image: url('/public/riceball.jpg');
    }

</style> 
    

