---
---
<section class="w-screen h-auto flex flex-col items-start justify-start gap-5 py-5  bg-cover">
    <div class="pl-5 w-full pt-10">
    <h2 class="text-3xl text-orange-600 pl-1 text-center">Riceball Recipe:</h2>
    </div>
    <div class="w-full sm:pl-10 pl-0 grid sm:grid-cols-2  grid-cols-1 place-items-center sm:gap-10 sm:px-20 px-0 gap-5 flex-col align-content-center">
        <div class="flex flex-col justify-center items-center gap-10">
        <h3 class="text-2xl pb-2 text-orange-600  text-center ">Materials:</h3>
        <ul class="space-y-1 text-lg sm:text-xl text-orange-800 text-center ">
         <li>Deep fryer, large pot, or air fryer </li>
         <li>Large stock pot</li>
         <li>Large sauté pan</li>
         <li>Ladle</li>
         <li>Serving tray</li>
         </ul>
        <h3 class="text-2xl  text-orange-600 pb-2 text-center">Ingredients:</h3>
        <ul class="space-y-1 text-lg text-xl  text-orange-800  text-center sm:pb-0 pb-10">
            <li>1 2lbs container  aborio rice</li>
            <li>4 32 Oz cartons of chicken stock</li>
            <li>1 small yellow onion</li>
            <li>1 stick salted butter</li>
            <li>½ cup olive oil</li>
            <li>1 teaspoon ground saffron</li>
            <li>1 cup white wine</li>
            <li>4-5 cups freshly grated reggiano parmesan cheese  </li>
            <li>1-2 gallons vegetable oil dependent on fryer size</li>
        </ul>
    </div>
    <div class="flex justify-center items-center sm:p-10 ">
        <img src="/public/va.jpg" class="sm:h-[600px] h-auto">
    </div>
      
    </div>

   
   